---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_102uYM2g7UGZZ3q1aR1Gn9n3&description=Charge%20for%20jim%40junk.com%20subscription%20to%20EamonnOBrienMyFlix
    headers:
      Authorization:
      - Bearer sk_test_NIBfnP5xbcxM83SIoGM6IdiE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card's expiration date is incorrect.",
            "type": "card_error",
            "param": "exp_month",
            "code": "expired_card",
            "charge": "ch_102uYM2g7UGZZ3q1fMGa9KaG"
          }
        }
  recorded_at: Sat, 09 Nov 2013 21:26:49 GMT
recorded_with: VCR 2.7.0
