---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_102uU82g7UGZZ3q1W9T16GWq&description=Charge%20for%20jim%40junk.com%20subscription%20to%20EamonnOBrienMyFlix
    headers:
      Authorization:
      - Bearer sk_test_NIBfnP5xbcxM83SIoGM6IdiE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_102uU82g7UGZZ3q1PuAqaTlB",
          "object": "charge",
          "created": 1384016705,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_102uU82g7UGZZ3q15HgbaANo",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 11,
            "exp_year": 2015,
            "fingerprint": "xoIy03alAaIPDOdC",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_102uU82g7UGZZ3q1n33bOB39",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Charge for jim@junk.com subscription to EamonnOBrienMyFlix",
          "dispute": null,
          "metadata": {}
        }
  recorded_at: Sat, 09 Nov 2013 17:05:05 GMT
recorded_with: VCR 2.7.0
