---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_1035uO2g7UGZZ3q1iQF4usTl
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_NIBfnP5xbcxM83SIoGM6IdiE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_1035uO2g7UGZZ3q1iQF4usTl",
          "created": 1386651390,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_1035uO2g7UGZZ3q14MIaoMMG",
              "object": "charge",
              "created": 1386651390,
              "livemode": false,
              "paid": true,
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "card": {
                "id": "card_1035uO2g7UGZZ3q10aMh3JrJ",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 12,
                "exp_year": 2015,
                "fingerprint": "xoIy03alAaIPDOdC",
                "customer": "cus_35uOtGevh9T6yA",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              },
              "captured": true,
              "refunds": [],
              "balance_transaction": "txn_1035uO2g7UGZZ3q1icdehA9G",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_35uOtGevh9T6yA",
              "invoice": "in_1035uO2g7UGZZ3q1iGMUSzjw",
              "description": null,
              "dispute": null,
              "metadata": {}
            }
          },
          "object": "event",
          "pending_webhooks": 1,
          "request": "iar_35uOkxSkDFuEBs"
        }
  recorded_at: Wed, 18 Dec 2013 19:55:16 GMT
recorded_with: VCR 2.7.0
