---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=10&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_NIBfnP5xbcxM83SIoGM6IdiE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_102tN82g7UGZZ3q1WjwPXWlV",
          "livemode": false,
          "created": 1383760017,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_102tN82g7UGZZ3q1uAitqSdI",
            "object": "card",
            "last4": "0002",
            "type": "Visa",
            "exp_month": 10,
            "exp_year": 2018,
            "fingerprint": "syMFHDw5cBzYpTNi",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Wed, 06 Nov 2013 17:46:57 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_102tN82g7UGZZ3q1WjwPXWlV&description=An%20invalid%20test%20charge
    headers:
      Authorization:
      - Bearer sk_test_NIBfnP5xbcxM83SIoGM6IdiE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_102tN82g7UGZZ3q1hhDxYWvI"
          }
        }
  recorded_at: Wed, 06 Nov 2013 17:46:57 GMT
recorded_with: VCR 2.7.0
