---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=10&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_NIBfnP5xbcxM83SIoGM6IdiE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_102tjP2g7UGZZ3q1mBVtQKOC",
          "livemode": false,
          "created": 1383842860,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_102tjP2g7UGZZ3q1l7pY00u4",
            "object": "card",
            "last4": "0002",
            "type": "Visa",
            "exp_month": 10,
            "exp_year": 2018,
            "fingerprint": "syMFHDw5cBzYpTNi",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Thu, 07 Nov 2013 16:47:39 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_102tjP2g7UGZZ3q1mBVtQKOC&description=An%20invalid%20test%20charge
    headers:
      Authorization:
      - Bearer sk_test_NIBfnP5xbcxM83SIoGM6IdiE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_102tjP2g7UGZZ3q1c5JSNmqu"
          }
        }
  recorded_at: Thu, 07 Nov 2013 16:47:39 GMT
recorded_with: VCR 2.7.0
