- @categories.each do |c|
	%article.video_category
		%header
			%h3= link_to c.cat, category_path(c)
		.videos.row
			- c.videos.each do |vid|
				.video.span2
					= link_to video_path(vid.id), nil do
						%img(src="#{vid.small_cover_url}")

