%article.video_category
  - @categories.each do |category|
    %header
      %h3= link_to category.cat, category_path(category)
    .videos.row
      - category.videos.each do |video|
        .video.span2
          = link_to video_path(video.id), nil do
            %img(src="#{video.small_cover}")
            %span #{video.title}

