%article.video
	.container
		.row
			.video_large_cover.span7.offset1
				%img(src="http://dummyimage.com/665x375/000000/00a2ff")
			.video_info.span3
				%header
					%h3 #{@title}
					%span Rating: ???
				%p #{@description}