%article.video
	.container
		.row
			.video_large_cover.span7.offset1
				%img(src="#{@video.big_cover_url}")
			.video_info.span3
				%header
					%h3 #{@video.title}
					%span Rating: ???
				%p #{@video.description}