---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=10&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_NIBfnP5xbcxM83SIoGM6IdiE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1034332g7UGZZ3q1zCNx5im8",
          "livemode": false,
          "created": 1386222379,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_1034332g7UGZZ3q19mKCpZ4p",
            "object": "card",
            "last4": "0002",
            "type": "Visa",
            "exp_month": 10,
            "exp_year": 2018,
            "fingerprint": "syMFHDw5cBzYpTNi",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Thu, 05 Dec 2013 05:46:19 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_1034332g7UGZZ3q1zCNx5im8&plan=base&email=kyra%40wisozk.net
    headers:
      Authorization:
      - Bearer sk_test_NIBfnP5xbcxM83SIoGM6IdiE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined"
          }
        }
  recorded_at: Thu, 05 Dec 2013 05:46:20 GMT
recorded_with: VCR 2.7.0
