---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=10&card[exp_year]=2018&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_NIBfnP5xbcxM83SIoGM6IdiE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_1037m82g7UGZZ3q1tKc7VNzZ",
          "livemode": false,
          "created": 1387081973,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_1037m82g7UGZZ3q1gkCsSu1o",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 10,
            "exp_year": 2018,
            "fingerprint": "xoIy03alAaIPDOdC",
            "customer": null,
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null
          }
        }
  recorded_at: Sun, 15 Dec 2013 04:32:53 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: card=tok_1037m82g7UGZZ3q1tKc7VNzZ&plan=base&email=isabelle%40gusikowski.info
    headers:
      Authorization:
      - Bearer sk_test_NIBfnP5xbcxM83SIoGM6IdiE
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1387081974,
          "id": "cus_37m8jMhc6l3KV8",
          "livemode": false,
          "description": null,
          "email": "isabelle@gusikowski.info",
          "delinquent": false,
          "metadata": {},
          "subscription": {
            "id": "sub_37m8AShxBlyLHl",
            "plan": {
              "interval": "month",
              "name": "Base Plan",
              "amount": 999,
              "currency": "usd",
              "id": "base",
              "object": "plan",
              "livemode": false,
              "interval_count": 1,
              "trial_period_days": null,
              "metadata": {}
            },
            "object": "subscription",
            "start": 1387081974,
            "status": "active",
            "customer": "cus_37m8jMhc6l3KV8",
            "cancel_at_period_end": false,
            "current_period_start": 1387081974,
            "current_period_end": 1389760374,
            "ended_at": null,
            "trial_start": null,
            "trial_end": null,
            "canceled_at": null,
            "quantity": 1,
            "application_fee_percent": null
          },
          "discount": null,
          "account_balance": 0,
          "cards": {
            "object": "list",
            "count": 1,
            "url": "/v1/customers/cus_37m8jMhc6l3KV8/cards",
            "data": [
              {
                "id": "card_1037m82g7UGZZ3q1gkCsSu1o",
                "object": "card",
                "last4": "4242",
                "type": "Visa",
                "exp_month": 10,
                "exp_year": 2018,
                "fingerprint": "xoIy03alAaIPDOdC",
                "customer": "cus_37m8jMhc6l3KV8",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null
              }
            ]
          },
          "default_card": "card_1037m82g7UGZZ3q1gkCsSu1o"
        }
  recorded_at: Sun, 15 Dec 2013 04:32:55 GMT
recorded_with: VCR 2.7.0
